@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bug: #99cc00;
  --dark: #00040d;
  --dragon: #b72003;
  --electric: #ffff33;
  --fairy: #ff99ff;
  --fighting: #ef6138;
  --fire: #f73718;
  --flying: #00ffff;
  --ghost: #c2c1d4;
  --grass: #348C31;
  --ground: #684132;
  --ice: #99ffff;
  --normal: #3D7DCA;
  --poison: #800080;
  --psychic: #df00ff;
  --rock: #8b8b8b;
  --steel: #85888d;
  --water: #006994;
}

/* bug */
.bg-bug {
  background-color: var(--bug);
  font: #fff;
}

/* dark */
.bg-dark {
  background-color: var(--dark);
}

/* dragon  */
.bg-dragon {
  background-color: var(--dragon);
}

/* electric  */
.bg-electric {
  background-color: var(--electric);
}

/* fairy  */
.bg-fairy {
  background-color: var(--fairy);
}

/* fighting  */
.bg-fighting {
  background-color: var(--fighting);
}

/* fire  */
.bg-fire {
  background-color: var(--fire);
}

/* flying  */
.bg-flying {
  background-color: var(--flying);
}

/* ghost  */
.bg-ghost {
  background-color: var(--ghost);
}

/* grass  */
.bg-grass {
  background-color: var(--grass);
}

/* ground  */
.bg-ground {
  background-color: var(--ground);
}

/* ice  */
.bg-ice {
  background-color: var(--ice);
}

/* normal */
.bg-normal {
  background-color: var(--normal);
}

/* poison */
.bg-poison {
  background-color: var(--poison);
}

/* psychic */
.bg-psychic {
  background-color: var(--psychic);
}

/* rock */
.bg-rock {
  background-color: var(--rock);
}

/* Steel */
.bg-steel {
  background-color: var(--steel);
}

/* water */
.bg-water {
  background-color: var(--water);
}
